<div class="container">
<h2>LLista de productes</h2>
<div class="table-responsive">
<table class="table caption-top table-primary table-hover table-striped">    
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">EAN</th>
        <th scope="col">Referència Producte</th>
        <th scope="col">Descripció del producte</th>
        <th scope="col">Quantitat</th>
        <th scope="col">Client</th>
        <th scope="col" *ngIf="loginState$.loggedIn && (userType === 'Admin')">Editar</th>
        <th scope="col" *ngIf="loginState$.loggedIn && (userType === 'Admin')">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productState$.productes">
        <th scope="row">{{product.product_id}}</th>
        <td>{{product.ean}}</td>
        <td>{{product.reference}}</td>
        <td>{{product.description_prod}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.description_client}}</td>
        <td *ngIf="loginState$.loggedIn && (userType === 'Admin')">
          <button class="btn btn-warning" (click)="open(mymodal, product)">                          
            <span><fa-icon [icon]="faPencilAlt"></fa-icon></span>
          </button>
        </td>
        <td *ngIf="loginState$.loggedIn && (userType === 'Admin')">
            <button class="btn btn-danger" (click)="eliminar(product);">                          
              <span><fa-icon [icon]="faTrashAlt"></fa-icon></span>
            </button>
        </td>
      </tr>
    </tbody>
</table>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar Producte</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form class="border border-light p-5" [formGroup]="editForm" (ngSubmit)="editar();"> 
      <div class="row">
        <div class="form-group col-md-4 offset-md-3"> 
          <label for="product_id" class="form-label mt-4">Id Producte</label>
          <input type="number" [formControl]="product_id" class="form-control mb-2" readonly class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3 offset-md-3">
            <label for="type" class="form-label mt-4">Selecciona el client:</label>
            <select [formControl]="client_id" class="form-select mb-2">
                <option [ngValue]=" ">Selecciona client</option>                
                <option *ngFor="let client of clientState$.clients" [ngValue]="client.client_id">{{client.description_client}}</option>              
            </select>
            <span style="color: red;" *ngIf="editForm.get('client_id').errors && (editForm.get('client_id').touched || editForm.get('client_id').dirty)">                
                <span *ngIf="editForm.get('client_id').errors.required">El client és obligatori</span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 offset-md-3">
            <label for="ean" class="form-label mt-4">Codi EAN</label>
            <input type="number" class="form-control mb-2" [formControl]="ean" placeholder="Escriu el codi EAN">
            <span style="color: red;" *ngIf="editForm.get('ean').errors && (editForm.get('ean').touched || editForm.get('ean').dirty)">
                <span *ngIf="editForm.get('ean').errors.required">El codi EAN és obligatori</span> 
            </span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 offset-md-3">
            <label for="reference" class="form-label mt-4">Referència</label>
            <input type="number" class="form-control mb-2" [formControl]="reference" placeholder="Escriu la referència">
            <span style="color: red;" *ngIf="editForm.get('reference').errors && (editForm.get('reference').touched || editForm.get('reference').dirty)">
                <span *ngIf="editForm.get('reference').errors.required">La referència és obligatòria</span> 
            </span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 offset-md-3">
            <label for="description_prod" class="form-label mt-4">Descripció del nou producte</label>
            <input type="text" class="form-control mb-2" [formControl]="description_prod" placeholder="Escriu la descripció del producte">
            <span style="color: red;" *ngIf="editForm.get('description_prod').errors && (editForm.get('description_prod').touched || editForm.get('description_prod').dirty)">
                <span *ngIf="editForm.get('description_prod').errors.required">La descripció és obligatòria</span> 
            </span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3 offset-md-3">
            <label for="quantity" class="form-label mt-4">Quantitat</label>
            <input type="number" class="form-control mb-2" [formControl]="quantity" placeholder="Escriu la quantitat per palet">
            <span style="color: red;" *ngIf="editForm.get('quantity').errors && (editForm.get('quantity').touched || editForm.get('quantity').dirty)">
                <span *ngIf="editForm.get('quantity').errors.required">La quantitat és obligatòria</span> 
            </span>
        </div>
    </div>
    <div class="offset-md-3">
      <button class="btn btn-primary my-4" (click)="modal.close('Save click')" type="submit" [disabled]="!editForm.valid">Editar Producte</button>  
    </div>
  </form>
</div>
</ng-template>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<div *ngIf="isAlert" class="alert alert-warning d-flex justify-content-between m-3 col-md-3" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <p>{{alertMsg}}</p>
  <button type="button" class="btn-close"  aria-label="Close" (click)="close()"></button>
</div>
</div>