<div class="container">
<h2>LLista de productes</h2>
<div class="table-responsive">
<table class="table caption-top table-primary table-hover table-striped">    
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">EAN</th>
        <th scope="col">Referència Producte</th>
        <th scope="col">Descripció del producte</th>
        <th scope="col">Quantitat</th>
        <th scope="col">Client</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productState$.productes">
        <th scope="row">{{product.product_id}}</th>
        <td>{{product.ean}}</td>
        <td>{{product.reference}}</td>
        <td>{{product.description_prod}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.description_client}}</td>
      </tr>
    </tbody>
</table>
</div>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<div *ngIf="isAlert" class="alert alert-warning d-flex justify-content-between m-3 col-md-3" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <p>{{alertMsg}}</p>
  <button type="button" class="btn-close"  aria-label="Close" (click)="close()"></button>
</div>
</div>