<div class="container">
<h2>LLista d'ubicacions</h2>
<div class="table-responsive">
<table class="table caption-top table-primary table-hover table-striped">    
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ubicació</th>
        <th scope="col" *ngIf="loginState$.loggedIn && (userType === 'Admin')">Editar</th>
        <th scope="col" *ngIf="loginState$.loggedIn && (userType === 'Admin')">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locationState$.locations">
        <td>{{location.location_id}}</td>
        <td>{{location.location_description}}</td>
        <td *ngIf="loginState$.loggedIn && (userType === 'Admin')">
          <button class="btn btn-warning" (click)="open(mymodal, location)">                          
            <span><fa-icon [icon]="faPencilAlt"></fa-icon></span>
          </button>
        </td>
        <td *ngIf="loginState$.loggedIn && (userType === 'Admin')">
            <button class="btn btn-danger" (click)="eliminar(location);">                          
              <span><fa-icon [icon]="faTrashAlt"></fa-icon></span>
            </button>
        </td>
      </tr>
    </tbody>
</table>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar Ubicació</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form class="border border-light p-5" [formGroup]="editForm" (ngSubmit)="editar();">
      <div class="row">
        <div class="form-group col-md-4 offset-md-3"> 
          <label for="location_id" class="form-label mt-4">Id Ubicació</label>
          <input type="number" [formControl]="location_id" class="form-control mb-2" readonly class="form-control">
        </div>
      </div>   
      <div class="row">
        <div class="form-group col-md-6 offset-md-3">
            <label for="location_description" class="form-label mt-4">Descripció de la nova ubicació</label>
            <input type="text" class="form-control mb-2" [formControl]="location_description" placeholder="Escriu la descripció de la ubicació">
            <span style="color: red;" *ngIf="editForm.get('location_description').errors && (editForm.get('location_description').touched || editForm.get('location_description').dirty)">
                <span *ngIf="editForm.get('location_description').errors.required">La descripció és obligatòria</span> 
            </span>
        </div>
    </div>
    <div class="offset-md-3">
      <button class="btn btn-primary my-4" (click)="modal.close('Save click')" type="submit" [disabled]="!editForm.valid">Editar Client</button>  
    </div>
  </form>
</div>
</ng-template>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<div *ngIf="isAlert" class="alert alert-warning d-flex justify-content-between m-3 col-md-3" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <p>{{alertMsg}}</p>
  <button type="button" class="btn-close"  aria-label="Close" (click)="close()"></button>
</div>
</div>