<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">SGA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/home">Inici</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Introducció de dades
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a class="dropdown-item" *ngIf="loginState$.loggedIn" routerLink="/registre-clients">Registre de Clients</a></li>
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a class="dropdown-item" routerLink="/clients-registrats">Clients registrats</a></li>
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a class="dropdown-item" *ngIf="loginState$.loggedIn" routerLink="/registre-productes">Registre de productes</a></li>
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a class="dropdown-item" routerLink="/productes-registrats">Productes registrats</a></li>
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a class="dropdown-item" *ngIf="loginState$.loggedIn" routerLink="/registre-locations">Registrar Ubicacions</a></li>
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a class="dropdown-item" routerLink="/locations-registrades">Ubicacions Registrades</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Entrades
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a class="dropdown-item" *ngIf="loginState$.loggedIn" routerLink="/entrada">Introducció de palets</a></li>
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a class="dropdown-item" routerLink="/consulta-entrades">Consulta de palets d'entrada</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sortides
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a class="dropdown-item" *ngIf="loginState$.loggedIn" routerLink="/planificacio-sortides">Planificació de sortides</a></li>
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a class="dropdown-item" *ngIf="loginState$.loggedIn" routerLink="/picking">Expedicions</a></li>
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a class="dropdown-item" routerLink="/consulta-sortides">Consulta de palets de sortida</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bloquejats
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a class="dropdown-item" *ngIf="loginState$.loggedIn" routerLink="/bloquejar-palets">Bloquejar palets</a></li>
              <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"><a class="dropdown-item" routerLink="/consulta-bloquejats">Consulta de palets bloquejats</a></li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="!loginState$.loggedIn"><a class="btn btn-success my-2 mx-2" routerLink="/login">Log In</a></li>
          <li class="nav-item" *ngIf="!loginState$.loggedIn"><a  class="btn btn-success my-2 mx-2" routerLink="/sign-in">Sign In</a></li>
          <li class="nav-item" *ngIf="loginState$.loggedIn"><a  class="btn btn-danger my-2 mx-2" (click)="onClickLogout()">LOGOUT</a></li>
        </ul>
      </div>
    </div>
  </nav>