<div class="container">   
    <h2>Registre de clients nous</h2> 
    <div class="contingut">
        <form class="border border-light p-5" [formGroup]="regClientForm" (ngSubmit)="saveClient()">    
            <div class="row">
                <div class="form-group col-md-4 offset-md-3">
                    <label for="client_code" class="form-label">Codi del nou client</label>
                    <input type="number" class="form-control mb-2" [formControl]="client_code" placeholder="Escriu el codi del client">
                    <span style="color: red;" *ngIf="regClientForm.get('client_code').errors && (regClientForm.get('client_code').touched || regClientForm.get('client_code').dirty)">
                        <span *ngIf="regClientForm.get('client_code').errors.required">El codi de client és obligatori</span> 
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 offset-md-3">
                    <label for="description_client" class="form-label mt-4">Descripció del nou client</label>
                    <input type="text" class="form-control mb-2" [formControl]="description_client" placeholder="Escriu la descripció del client">
                    <span style="color: red;" *ngIf="regClientForm.get('description_client').errors && (regClientForm.get('description_client').touched || regClientForm.get('description_client').dirty)">
                        <span *ngIf="regClientForm.get('description_client').errors.required">La descripció és obligatòria</span> 
                    </span>
                </div>
            </div>
            <div class="text-center">
                <h3 style="color: red;" *ngIf="clientState$.error && bSubmitted && !regClientForm.valid">
                    {{clientState$.error.message}}
                </h3>
                <button class="btn btn-primary my-4" type="submit" [disabled]="!regClientForm.valid">Guardar Client</button>
            </div>
        </form>    
    </div>
</div>