<div class="container">
<h2>Expedicions</h2>

<br>
<div id="sortida" [hidden]="bSubmitted">
    <form class="border border-light p-5" [formGroup]="sortidaForm" (ngSubmit)="getSortida()">    
        <div class="mb-3">
            <label for="num_sortida" class="form-label">Número d'albarà de sortida</label>
            <input type="text" [formControl]="num_sortida" class="form-control" name="num_sortida" placeholder="Escriu el número d'albarà de sortida">
        </div>
        <button class="btn btn-primary my-4" type="submit" [disabled]="!sortidaForm.valid">Acceptar</button>
    </form>
</div>
<div id="sortida2" [hidden]="!bSubmitted">  
    <h3>Picking Sortides</h3>
    <form class="border border-light p-5" [formGroup]="sortidaForm2" (ngSubmit)="saveSortida()">    
    <div class="mb-3">
        <label for="albara_sortida" class="form-label">Número d'albarà: </label>
        <input type="text" readonly [formControl]="albara_sortida" class="form-control" name="albara_sortida">
    </div>
    <div class="mb-3" *ngIf="planificationState$.planifications[0]">
        <label for="product_id" class="form-label">Referència: </label>
        <input type="text" readonly class="form-control" value="{{this.planificationState$.planifications[0].description_prod}}" name="product_id">
    </div>
    <button class="btn btn-danger my-4" type="button">Eliminar registre</button>
    <div class="mb-3" *ngIf="planificationState$.comptador">
        <label for="resta" class="form-label">Número restant de palets per llegir: </label>
        <input type="number" readonly value="{{this.planificationState$.comptador}}" class="form-control" name="resta">
    </div>
    <div class="mb-3">
        <label for="barcode">Escaneja el codi SSCC:</label>
        <input type="text" [formControl]="barcode" placeholder="Escriure el codi SSCC del palet" name="barcode" (change)="interpreteBarcode()" required>
    </div>
    <div class="mb-3">
        <label for="sscc">SSCC:</label>
        <input type="text" placeholder="sscc" readonly [formControl]="sscc">
    </div>
    
    <button class="btn btn-primary my-4" type="submit" [disabled]="!sortidaForm2.valid">Acceptar</button>
    </form>
    <button (click)="goOut()" class="btn btn-primary">Sortir</button>
</div>
</div>