<h2>Bloquejar i desbloquejar palets</h2>

<br>
<div id="formulari">
    <form class="border border-light p-5" [formGroup]="bloquejarForm" (ngSubmit)="saveBlock()">    
        <div class="mb-3">
            <label for="sscc" class="form-label">Número sscc</label>
            <input type="text" [formControl]="sscc" class="form-control" name="sscc" (change)="interpreteBarcode()" placeholder="Escriu el número de sscc">
            <input type="text" [formControl]="ssccF" readonly class="form-control" name="ssccF">
        </div>
        <button class="btn btn-primary my-4" type="submit" [disabled]="!bloquejarForm.valid">Acceptar</button>
    </form>
</div>

<div id="bloquejats">  
    <h3>Palets bloquejats</h3>
    <div class="table-responsive">
    <table class="table table-hover table-responsive table-bordered">
        <thead>
        <tr>
            <td>SSCC</td>
            <td>Client</td>
            <td>Codi de producte</td>
            <td>Caducitat</td>
            <td>Eliminar</td>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bloquejat of bloquejatState$.consultaPalB">
                <td>{{bloquejat.sscc}}</td>
                <td>{{bloquejat.client_id}}</td>
                <td>{{bloquejat.product_id}}</td>
                <td>{{bloquejat.caducitat}}</td>
                <td>
                    <!-- <button class="btn btn-danger" (click)="eliminar(this);">                          
                        <span><fa-icon [icon]="faTrashAlt"></fa-icon></span>
                    </button> -->
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>