<div class="container">    
    <h2>Entrar al compte d'usuari</h2> 
    <form class="border border-light p-5" [formGroup]="loginForm" (ngSubmit)="checkLogin()">
        <div class="row justify-content-center">
            <div class="form-group col-md-6">    
                <label for="email" class="form-label">Correu electrònic usuari:</label>
                <input type="email" [formControl]="email" class="form-control mb-2" placeholder="Correu electrònic de l'usuari">
                <span  style="color: red;" *ngIf="loginForm.get('email').errors && (loginForm.get('email').touched || loginForm.get('email').dirty)">
                    <span *ngIf="loginForm.get('email').errors.required">El correu electrònic és obligatori</span> 
                    <span *ngIf="loginForm.get('email').errors?.pattern">El correu electrònic no té el format correcte.</span>   
                </span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-6">
                <label for="password" class="form-label mt-4">Contrasenya:</label>
                <div class="input-group mb-2">
                    <input [type]="isActive ? 'password' : 'text'" [formControl]="password" class="form-control mb-2" placeholder="Contrasenya de l'usuari">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button"><fa-icon (click)="show()" [icon]="isActive ? faEye : faEyeSlash"></fa-icon>
                        </button>
                    </div>
                </div>
                <span style="color: red;" *ngIf="loginForm.get('password').errors && (loginForm.get('password').touched || loginForm.get('password').dirty)">
                    <span *ngIf="loginForm.get('password').errors.required">La contrasenya és obligatòria.</span>    
                </span>
            </div>
        </div>
        <div class="text-center">
            <h3 style="color: red;" *ngIf="loginState$.error && bSubmitted && !loginForm.valid">
                {{loginState$.error.message}}
            </h3>
            <button class="btn btn-primary my-4" type="submit" [disabled]="!loginForm.valid">Log in</button>
        </div>        
    </form>    
</div>