/* You can add global styles to this file, and also import other style files */

.container {
    padding-top: 30px;
}

.contingut{
    margin: 30px auto;
    background-color: hsla(0, 100%, 100%, 0.75);
}

#fons {
    background-color: #CBCBCB;
    min-height: 100vh;
}
